.ReviewProcess {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 75px 10px;
   background-color: #f4f4f4;
   margin: 0 auto;
}

.HowWeReview-content{
   display: grid;
   grid-template-columns: 1fr 1fr;
   margin: 0 auto;
}


.ReviewProcess h2 {
   font-size: 36px;
   font-weight: 700;
   color: #2c7cd8;
   margin-bottom: 20px;
   width: 80%;
}

.ReviewProcess p {
   font-size: 18px;
   font-weight: 400;
   color: #333;
   margin-bottom: 35px;
   width: 80%;
   line-height: 28px;
}

.HowWeReview h1 {
   font-size: 36px;
   font-weight: 700;
   color: #2c7cd8;
   margin-bottom: 20px;
   text-align: center;
   border-bottom: #2c7cd8 2px solid;
   padding-bottom: 1em;
}

.HowWeReview h2{
   font-size: 36px;
   font-weight: 700;
   color: #2c7cd8;
   margin: 20px 20px;
   width: 80%;

}

.HowWeReview p {
   font-size: 18px;
   font-weight: 400;
   color: #333;
   margin-bottom: 35px;
   width: 80%;
   line-height: 28px;
}


.HowWeReview h3{
   font-size: 36px;
   font-weight: 700;
   color: #2c7cd8;
   margin: 2em 0 .7em;
   width: 80%;

}

small {
   font-size: 14px;
   font-weight: 400;
   color: #666d75;
   margin-bottom: 35px;
   line-height: 20px;
   width: 50%;
}

.faq {
   margin: 2em auto;
   border-top: #2c7cd8 2px solid;;
   padding: 2em 0;
}

.faq h2 {
   font-size: 36px;
   font-weight: 700;
   color: #2c7cd8;
   margin-bottom: 20px;
   width: 80%;
   text-align: center;
}

.faq h4 {
   font-size: 24px;
   font-weight: 700;
   color: #2c7cd8;
   margin:1em 0;
}

.faq p {
   font-size: 18px;
   font-weight: 400;
   color: #333;
   margin-bottom: 35px;
   width: 80%;
   line-height: 28px;
}

footer {
   background-color: #2c7cd8;
   color: #fff;
   text-align: center;
   padding: 1em 0;
   height: 20vh;
   border-top-left-radius: 200px;
   border-top-right-radius: 200px;

}

.fff {
   background-color: #2c53c0;
   color: #acacac;
   text-align: center;
   padding: 1em 0;
   height: 19vh;
   border-top-left-radius: 200px;
   border-top-right-radius: 200px;
   display: flex;
   justify-content: center;
   align-items: center;
}


@media (max-width: 1100px) {
   .ReviewProcess {
      display: flex;
      flex-direction: column;
   }

   

   .fff {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: .4em 0;
      height: auto;
      margin: 0 auto;
   }

   .HowWeReview-content{
      grid-template-columns: 1fr;
      }
   
}